header {
  text-align: center;
  padding: 30px;
  background-color: #4169E1;
  color: #FFF;
  position:fixed;
  top:0px;
  left:0px;
  z-index:1000;
  width: 100%;
}

header ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  display: inline;
  margin: 0px 2%;
}

ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto Slab';
  border: 2px solid #FFFFFF;
  padding: 5px;
}
